@model VVS_System.Models.VideoModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("http://vjs.zencdn.net/4.3/video-js.css")
@Scripts.Render("http://vjs.zencdn.net/4.3/video.js")
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<h2>@Model.Video.Name</h2>

<br />

@if (Model.IsAdvertisement)
{
    <video id="my_video_1" class="video-js vjs-default-skin" controls
           preload="auto" width="640" height="264" poster="@Model.Video.PosterPath"
           data-setup='{"controls":false, "autoplay":true}'>
        <source src="@Model.Video.VideoPath" type='video/mp4'>
    </video>

    using (Html.BeginForm("SkipAds", "VideoVisualization", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <button id='btnContinue' class="btn" onclick="SkipAds" runat="server">Skip Ads</button>
    }
}
else
{
    <video id="my_video_1" class="video-js vjs-default-skin" controls
           preload="auto" width="640" height="264" poster="@Model.Video.PosterPath"
           data-setup="{}">
        <source src="@Model.Video.VideoPath" type='video/mp4'>
    </video>
}


<script>
    $.fn.timedDisable = function (time) {
        if (time == null) {
            time = 5000;
        }
        var seconds = Math.ceil(time / 1000);
        return $(this).each(function () {
            $(this).attr('disabled', 'disabled');
            var disabledElem = $(this);
            var originalText = this.innerHTML;
            disabledElem.text(originalText + ' (' + seconds + ')');
            var interval = setInterval(function () {
                disabledElem.text(originalText + ' (' + --seconds + ')');
                if (seconds === 0) {
                    disabledElem.removeAttr('disabled')
                        .text(originalText);
                    clearInterval(interval);
                }
            }, 1000);
        });
    };

    $(function () {
        $('#btnContinue').timedDisable();
    });
</script>



@*<br />
    <div style="margin-left:15px">
        <p><strong>Visualizations:</strong> @Model.Video.Visualizations</p>
        <p style="color: green;"><span class="glyphicon glyphicon-thumbs-up"></span> @Model.TotalLikes <span style="color: red; margin-left:15px" class="glyphicon glyphicon-thumbs-down"> @Model.TotalDislikes</span></p>

        <br />

        @foreach (VVS_System.Models.Comment c in @Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>@c.User.Name</strong> <small>[@c.Date.ToString("dd MM yyyy HH:mm:ss")]</small></h3>
                </div>
                <div class="panel-body">
                    @c.Text
                </div>
            </div>
        }
    </div>*@
