@model IEnumerable<VVS_System.Models.VideoModel>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
    $(function() {
        $( "#search" ).autocomplete({
            source: '@Url.Action("Find", "Search")', minChars: 1, delay: 500
        });
    });
    </script>

@{
    ViewBag.Title = "Index";
}

<h1>Search Videos</h1>
<br />

@using (Html.BeginForm("Search", "Search", FormMethod.Post))
{

    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <input name="searchKeywords" class="form-control" id="search" type="text" value="I'm looking for..." />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

}

<br />
<br />
<br />

<h2>Recommended</h2>
<br />
<div class="row">
    @foreach (VVS_System.Models.VideoModel v in Model)
    {
        <div class="col-lg-4" style="margin-bottom:15px">
            <img class="img-thumbnail" style="width: 200px; height: 140px;" src="@v.Video.PosterPath">
            <h4>@v.Video.Name</h4>
            <p style="margin-left:10px"><strong>Visualizations:</strong> @v.Video.Visualizations</p>
            <p style="color: green; margin-left:15px"><span class="glyphicon glyphicon-thumbs-up"></span> @v.TotalLikes</p>
            <p style="color: red; margin-left:15px"><span class="glyphicon glyphicon-thumbs-down"></span> @v.TotalDislikes</p>
            <p>@Html.ActionLink("Watch Video", "Advertisement", "VideoVisualization", new { video = @v.Video.ID }, new { @class = "btn btn-default" })</p>
            <p></p>
        </div><!-- /.col-lg-4 -->
    }
</div>