@model IEnumerable<VVS_System.Models.VideoModel>

@{
    ViewBag.Title = "Search";
}

<h1>Search Results</h1>

<br />
<div class="row">
    @foreach (VVS_System.Models.VideoModel v in Model)
    {
        <div class="col-lg-4" style="margin-bottom:15px">
            <img class="img-thumbnail" style="width: 200px; height: 140px;" src="@v.Video.PosterPath">
            <h4>@v.Video.Name</h4>
            <p style="margin-left:10px"><strong>Visualizations:</strong> @v.Video.Visualizations</p>
            <p style="color: green; margin-left:15px"><span class="glyphicon glyphicon-thumbs-up"></span> @v.TotalLikes</p>
            <p style="color: red; margin-left:15px"><span class="glyphicon glyphicon-thumbs-down"></span> @v.TotalDislikes</p>
            <p>@Html.ActionLink("Watch Video", "Advertisement", "VideoVisualization", new { video = @v.Video.ID }, new { @class = "btn btn-default" })</p>
            <p></p>
        </div><!-- /.col-lg-4 -->
    }
</div>

